# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build
/.next/
/out/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
*.sublime-project
*.sublime-workspace

# Turbo
.turbo/
.turborepo/

# OS
Thumbs.db

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Runtime data
pids
*.pid
*.seed
*.pid.lock
